.homeContainer {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: rgb(224, 220, 220);
}

/* Phones */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 992px) {
  h1 {
    font-size: 1.8rem;
  }
}
